.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*flex-direction: row;*/
}

.img {
  width: 250px;
  height: auto;
  transform: rotate(5deg);
  margin: 0 50px;
  border-radius: 8px;
  border: 1px solid var(--text-tetiary);
}

.text {
  width: 100%;
  line-height: 25px;
}

@media (max-width: 900px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .img {
    width: 300px;
    margin-top: 20px;
    transform: none;
  }
}

@media (max-width: 768px) {
  .img {
    margin-top: 20px;
    transform: none;
  }

  .text {
    width: 100%;
  }
}

.logolist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 60px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--background-color2);
}

.logo {
  width: 100px;
  height: 100px;
}
