.img {
  width: 300px;
  height: auto;
  transform: rotate(5deg);
  margin: 0 50px;
  border-radius: 8px;
  border: 1px solid var(--text-tetiary);
}

.text {
  max-width: 800px;
  line-height: 25px;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .img {
    margin-top: 20px;
    transform: none;
  }

  .text {
    width: 100%;
  }
}

.logolist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 60px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--background-color2);
}

.logo {
  width: 100px;
  height: 100px;
}
