.card {
  width: 100%;
  max-height: 300px;
  padding: 24px;
  display: flex;
  gap: 16px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-bg-color);
  overflow: hidden;
  cursor: pointer;
}

.javascript {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f1e05a;
}

.typescript {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3178c6;
}

.buttons {
  text-decoration: none;
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
  border-radius: 10px;
  padding: 8px 16px;
  transform: translate(-2%, -2%);
}

.buttons:hover {
  animation:  shake 0.8s;
  background-color: var(--text-color-white);
  color: var(--card-bg-color);
}

@keyframes shake{
  0%{
    transform: translateX(0)
  }

  25%{
    transform: translateX(5px);
  }

  50%{
    transform: translateX(-5px);
  }

  100%{
    transform: translateX(0);
  }
}
