@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./utilities.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light Mode (Default) */
:root {
    --background-color: #000;
    --nav-bar-color: #111827;
    --text-color: #fff;
    --text-secondary: #1296d3;
    --text-tetiary: #9a9494;
    --line-opacity: 0.2;
}

/* Dark Mode */
.dark-theme {
    --background-color: #000;
    --nav-bar-color: #111827;
    --text-color: #fff;
    --text-secondary: #1296d3;
    --text-tetiary: #9a9494;
    --line-opacity: 0.2;
}

body {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    background: #000;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}



