.footer {
    color: #9a9494;
}

.line {
    opacity: 0.2;
    color: #9a9494;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.items {
    display: flex;
    gap: 16px;
}
